@import url("./root.css");

.heading span {
    color: var(--primary-color);
}

.svg_border {
    padding: 12px 8px;
    border-radius: 50%;
    background: var(--svg-bg-color);
}

.choose-border {
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 12px;
    background-color: var(--color-white);
}

.mission_center_icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-links {
    position: relative;
    padding-bottom: 5px;
}

.main-heading {
    max-width: 948px;
}

.main-heading span {
    color: var(--primary-color);
}









.bttn {
    background-color: var(--primary-color);
    padding: 16px 42px;
    border: none;
    border-radius: 61px;
    transition: all 300ms linear;
}




.bordr {
    position: relative;
    padding: 12px;
}





.mission-left-bottom-ellips {
    left: 0;
    bottom: 0;
}


.box_border {
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    min-height: 270px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    transition: all 300ms linear;
    background-color: var(--bg-color);
}

.svg_icon_border {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: var(--svg-bg-color);
    transition: all 300ms linear;
}

.scroll_to_top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 30;
    animation: toTop 1s infinite;
    transition: all 300ms linear;
}



.pt_20 {
    padding-top: 20px;
}

.svg_icon path {
    fill: url(#paint1_linear_40432_2511);
}



.services-bg-color {
    background-color: var(--bg-color);
}


.top_blue_circle {
    top: 0;
    left: 0;
    transform: translate(-50px, -50px);
}

.bottom_blue_circle {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}



.bg-img {
    background-image: url(../img/png/purpol_card.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.started_btn {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}

.start_btn {
    border: none;
    padding: 16px 42px;
    border-radius: 61px;
    background-color: var(--color-white);
}

.social-media {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.16);
    justify-content: center;
    border-radius: 50%;
    transition: all 300ms linear;
}

.footer-links {
    transition: all 300ms linear;
}

.footer-underline {
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++:hover +++++++++++++++++++++++++++++++++++++++*/
.nav-links:hover::after {
    width: 100%;
}

.footer-links:hover {
    opacity: 1 !important;
    text-shadow: -10px 1px 5px 1px var(--primary-color);
}

.bordr:hover::before {
    box-shadow: -2px 1px 5px 1px var(--color-white);
    border: 1px solid transparent;
}

.scroll_to_top:hover {
    box-shadow: -1px 1px 5px 5px var(--primary-color);
    background-color: var(--color-white);
}

.preloader_logo {
    animation: logo 2s infinite;
}

.txt-shdow {
    text-shadow: 0px 0px 15px var(--primary-color);
    animation: txt 1s infinite;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 105%;
    top: 0;
    right: 0;
    background-color: black;
    z-index: 100;
}

.box_border:hover {
    border: 1px solid transparent;
    background-color: var(--color-white);
}

.box_border:hover .p_14 {
    background: var(--hover-svg-bg);
}

.box_border:hover .p_14 svg path {
    fill: var(--color-white);
}

.choose-border:hover {
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.12);
}

.social-media:hover {
    transform: scale(1.1);
    box-shadow: -1px 1px 5px 1px var(--primary-color);
}

.bttn:hover {
    color: var(--black-color) !important;
    background-color: var(--color-white);
    box-shadow: -2px 1px 5px 1px var(--primary-color) !important;
}

/*++++++++++++++++++++++++++++++++++++++++++ spacing +++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.py_82 {
    padding-top: 82px;
    padding-bottom: 82px;
}

.py_82 {
    padding-top: 82px;
    padding-bottom: 82px;
}

.py_82 {
    padding-top: 82px;
    padding-bottom: 82px;
}

.pt_44 {
    padding-top: 44px;
}

.py_110 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.my_150 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.pt_152 {
    padding-top: 152px;
}

.pb_122 {
    padding-bottom: 122px;
}

.mt_52 {
    margin-top: 52px;
}

.pt-119 {
    padding-top: 119px;
}

.mt_12 {
    margin-top: 12px;
}

.gap_32 {
    gap: 32px;
}

.pb_152 {
    padding-bottom: 152px;
}

.pt-152 {
    padding-top: 152px;
}

.mt_42 {
    margin-top: 42px;
}

.pt_91 {
    padding-top: 91px;
}

.gap_12 {
    gap: 12px;
}

.pb_67 {
    padding-bottom: 67px;
}


/*+++++++++++++++++++++++++++++++++++++++ animation +++++++++++++++++++++++++++++*/
@keyframes toTop {
    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translate(0px);
    }
}

@keyframes logo {
    .25% {
        transform: translateY(20px);
    }

    .50% {
        transform: translateX(20px);
    }

    .75% {
        transform: translateY(-20px);
    }

    .100% {
        transform: translateX(20px);
    }
}

@keyframes txt {
    .0% {
        transform: scale(0);
    }

    .25% {
        transform: scale(1);
    }

    .50% {
        transform: scale(1.5);
    }

    .100% {
        transform: scale(0);
    }
}

/*+++++++++++++++++++++++++++++++++++++ ellipse ++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.hero_left_ellips {
    top: 0;
    left: 0;
}

.our_vision_right {
    top: 0;
    right: 0;
    transform: translateY(-40%);
}

.our_vision_left {
    top: 0;
    left: 0;
    transform: translateY(-40%);
}

.hero_right_ellips {
    top: 7%;
    right: 0;
}

.behind-img-ellips {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.right_top_0 {
    top: 0;
    right: 0;
}

.left_bottom_0 {
    left: 0;
    bottom: 0;
}

.choose_right_top_ellips {
    right: 0;
    top: 0;
    transform: translate(0px, -35%);
}

.choose_left_botom_ellips {
    bottom: 0;
    left: 0;
    transform: translate(0px, 35%);
}

/*++++++++++++++++++++++ ::after ::before ++++++++++++++++++++++++++++++++++++++++++++++++*/
.nav-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--primary-color);
    width: 0;
    left: 50%;
    transform: translatex(-50%);
    transition: all 300ms linear;
}

.bordr::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    padding: 1px;
    background: var(--border-color);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}