@import url("./root.css");

.heading span {
    color: var(--primary-color);
}

.svg_border {
    padding: 12px 8px;
    border-radius: 50%;
    background: var(--svg-bg-color);
}

.choose-border {
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 12px;
    background-color: var(--color-white);
}

.mission_center_icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-links {
    position: relative;

}

.main-heading {
    max-width: 948px;
}

.main-heading span {
    color: var(--primary-color);
}

.pt_44 {
    padding-top: 44px;
}

.nav-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--primary-color);
    width: 0;
    left: 50%;
    transform: translatex(-50%);
    transition: all 300ms linear;
}

.nav-links:hover::after {
    width: 100%;
}

.gap_32 {
    gap: 32px;
}

.bttn {
    background-color: var(--primary-color);
    padding: 16px 42px;
    border: none;
    border-radius: 61px;
    transition: all 300ms linear;
}

.pt-152 {
    padding-top: 152px;
}

.mt_42 {
    margin-top: 42px;
}

.bordr {
    /* padding: 12px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-color);
    transition: all 200ms linear; */

    /* border: 1px solid transparent;
    border-image: var(--border-color);
    border-image-slice: 1;
    padding: 12px;
    transition: all 200ms linear;
    border-radius: 15px; */
}

.bordr {
    position: relative;
    padding: 12px;
}

.bordr::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    padding: 1px;
    background: var(--border-color);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.bordr:hover::before {
    box-shadow: -2px 1px 5px 1px var(--color-white);
    border: 1px solid transparent;
}

.mission-left-bottom-ellips {
    left: 0;
    bottom: 0;
}

.mt_12 {
    margin-top: 12px;
}

.pb_152 {
    padding-bottom: 152px;
}

.box_border {
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    min-height: 270px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    transition: all 300ms linear;
    background-color: var(--bg-color);
}

.p_14 {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: var(--svg-bg-color);
    transition: all 300ms linear;
}

.pt_20 {
    padding-top: 20px;
}

.svg_icon path {
    fill: url(#paint1_linear_40432_2511);
}

.box_border:hover {
    border: 1px solid transparent;
    background-color: var(--color-white);
}

.box_border:hover .p_14 {
    background: var(--hover-svg-bg);
}

.box_border:hover .p_14 svg path {
    fill: var(--color-white);
}

.services-bg-color {
    background-color: var(--bg-color);
}

.pt-119 {
    padding-top: 119px;
}

.right_top_0 {
    top: 0;
    right: 0;
}

.left_bottom_0 {
    left: 0;
    bottom: 0;
}

.pt_152 {
    padding-top: 152px;
}

.pb_122 {
    padding-bottom: 122px;
}

.mt_52 {
    margin-top: 52px;
}

.choose-border:hover {
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.12);
}

.choose_right_top_ellips {
    right: 0;
    top: 0;
    transform: translate(0px, -35%);
}

.choose_left_botom_ellips {
    bottom: 0;
    left: 0;
    transform: translate(0px, 35%);
}

.bttn:hover {
    color: var(--black-color) !important;
    background-color: var(--color-white);
    box-shadow: -2px 1px 5px 1px var(--primary-color) !important;
}

.pt_67 {
    padding-top: 67px;
}

.top_blue_circle {
    top: 0;
    left: 0;
    transform: translate(-37px, 16px);
}

.bottom_blue_circle {
    bottom: 0;
    right: 0;
    transform: translate(30%, 50%);
}

.py_110 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.my_150 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.bg-img {
    background-image: url(../img/png/purpol_card.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.py_82 {
    padding-top: 82px;
    padding-bottom: 82px;
}

.started_btn {
    border: none;
    padding: 16px 42px;
    border-radius: 61px;
    background-color: var(--color-white);
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}